.poppins-medium {
  font-family: "Poppins Medium", sans-serif;
}
.steps-cols {
  display: grid;
  grid-template-columns: 62% 38%;
  gap: 0.4rem;
}
.stepper-container {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1.8rem;
}
.event-h {
  margin-top: 1.5rem;
}
.event-p {
  margin-bottom: 4rem;
}
.card-container {
  width: 190px;
  height: 280px;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  cursor: pointer;
}
.card-container.active,
.card-container:active {
  border: 3px solid #0066b3;
}
.blue-box {
  width: 120px;
  height: 80px;
  background-color: #0066b4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}
.pop {
  width: 230px;
}
.cards {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0rem 3rem 0rem;
}
.btnCard {
  position: relative;
}
.sellerBtn {
  background-color: #299b13;
  border-radius: 3rem;
  border: none;
  padding: 0.3rem 1.5rem;
  position: absolute;
  top: -14px;
  right: -24px;
}
/* step 2 */
/* .imgBtn {
  background-color: #2097d8;
  border-radius: 3rem;
  border: none;
  padding: 0.6rem 3rem;
  text-transform: uppercase;
} */
.imgBtn.active,
.imgBtn:active {
  background-color: #2097d8;
  border: none;
  color: white;
}
.Step-2-Btn.active,
.Step-2-Btn:active {
  background-color: #2097d8;
  border: none;
  color: white;
}
.imgBtn {
  background-color: white;
  border-radius: 3rem;
  border: 1px solid #c4c4c4;
  padding: 0.6rem 3rem;
  text-transform: uppercase;
}
.Step-2-Btn {
  background-color: white;
  border-radius: 3rem;
  border: 1px solid #c4c4c4;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}
.step-2-btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0rem 3rem 0.5rem;
  flex-wrap: wrap;
}
.postcode-input {
  border: 1px solid #c4c4c4;
  border-radius: 0.4rem;
  padding: 0.8rem 0.5rem;
  width: 70%;
  margin-top: 2rem;
}
/* step 4 */
.step-4-container {
  margin-top: 2.1rem;
}
.choose-input {
  border: 1px solid #c4c4c4;
  border-radius: 0.4rem;
  padding: 0.8rem 0.5rem;
  width: 100%;
}
.choose-icons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}
.choose-icons img {
  width: 25px;
}
.choose-p {
  margin-bottom: 3rem;
}
.step-5 {
  margin-top: 3rem;
}
/* summary */
.sum-container {
  background-color: #f4f4f4;
  width: 100%;
  padding: 0.6rem 1.5rem;
}
.slot-p {
  border-bottom: 2px solid black;
  width: 170px;
}
.sum-h {
  background-color: #4b4b4b;
  padding: 0.5rem;
}
.slot-1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.slot-event-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.slot-bottom-content {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}
.advert {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 1rem 0rem;
}
.paymentBtn {
  background-color: #299b13;
  border-radius: 3rem;
  border: none;
  padding: 0.7rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media all and (max-width: 992px) {
    .container-main{
        padding: unset;
    }
  .stepper-container {
    margin-left: 0rem;
  }
  .primary-heading {
    font-size: 1.6rem;
  }
  .secondary-heading {
    font-size: 1.5rem;
  }
  .tertiary-heading {
    font-size: 1.2rem;
  }
  .cards {
    justify-content: center;
  }
  .step-2-btn-container {
    justify-content: center;
  }
  .steps-cols {
    grid-template-columns: 100%;
    gap: 0.4rem;
  }
  .secondary-para {
    font-size: 0.8rem;
  }
  .penta-heading {
    font-size: 1rem;
  }
  .paymentBtn {
    padding: 0.7rem 1.5rem;
  }
  .sum-container {
    padding: 0.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .stepper-container {
    flex-wrap: nowrap;
  }
}

@keyframes slideInRightToLeft {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(0); /* End at its natural position */
  }
}

.slide-in-right-to-left {
  animation: slideInRightToLeft 2s ease-out forwards;
}
